.git
.github
.conda
.venv*
build
*.egg-info
**/.ruff_cache
**/.coverage*
**/htmlcov
**/__pycache__
**/*.pyc
**/.pytest_cache
**/node_modules
apps/web/.next
apps/web/.next-dev
infra/docker/stack.env
infra/docker/stack.external.env
